@import "partials/_settings.css";
/* stylelint-disable */
@import-normalize;
 /* stylelint-enable */
 @import "partials/_form_reset.css";

 html, body {
     padding:0;
     margin:0;
 }

 body {
    background-color: #fff;
    color: #333;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight:300;
}
* {
    box-sizing: border-box;
}

img {
    max-width:100%;
    height:auto;
}

header {
    max-width:960px;
    margin:0 auto;
}

.logo {
    width: 300px;
}

.main {
    max-width:960px;
    margin:0 auto;
}

footer {
    background: #fff url("../images/pasica-ikone.png") top center repeat-x;
    font-size: 0.9em;
    margin-top:30px;
    padding-top:70px;
}

.footer-content {
    background: #f00;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:stretch;
    padding: 20px 0;
    & :--links {
        color: #fff;
        text-decoration:none;
    }
    & section {
        flex: 0 1 680px;
        padding:10px;
        @media (--large){
            max-width:320px;
        }
    }
}
.footer-mailchimp {
    border:1px dotted #fff;
    border-radius: 2px;
    padding:10px;
    text-align: center;
}


.footer-contacs {

}

.footer-social {

}

.footer-links {
    background-color: #fff;
    padding:20px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.logo-kvarner {
    max-height:65px;
    max-width:200px;
    margin-right: 15px;
}

.logo-eu {
    max-height:65px;
}

label {
    font-size: 0.8em;
    margin-right: 10px;
}

input[type="email"]{
    border:0;
    width:200px;
    border-block-style: none;
    padding:8px 5px;
    background-color: #b00;
    color: #fff;
    &:focus {
        
        outline: 1px dotted #fff;
    }
}

input[type="submit"]{
    font-size: 1em;
    margin: 10px auto;
    padding: 8px 10px;
    background-color: #977;
    color: #fff;
    border: 1px solid #b00;
    border-radius: 2px;
    &:hover {
        transition: all 0.2s linear;
        background-color: #755;
    }
}